# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored for easy retrieval and manipulation. Databases are essential for storing and managing vast amounts of information in a structured manner efficient to access, update, and query the data.

SQL Database:
1. SQL databases are relational databases that store data in tables with predefined schema and relationships.
2. They use SQL to perform operations like creating, updating, querying, and deleting data.
3. Data integrity and consistency are ensured through ACID properties.
4. Suitable for applications with well-defined and structured data requirements, such as financial systems, CRM, and e-commerce.
Examples of SQL databases include MySQL, PostgreSQL, Oracle, SQL Server, etc.

NoSQL Database:
1. NoSQL databases are non-relational databases that store data in a more flexible and schema-less manner.
2. They use various data models like document-based, key-value, column-family, and graph databases.
3. Designed to handle large volumes of unstructured or semi-structured data, making them scalable and suitable for modern web applications, social networks, and big data applications.
4. Sacrifices some ACID properties in favor of CAP theorem.
Examples of NoSQL databases include MongoDB, Cassandra, Redis, Couchbase, etc.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, and it is used to define and manage the structure of the database and its objects.
Examples of DDL statements:
1. CREATE: Used to create database objects like tables, indexes, views, etc.
   CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    department VARCHAR(50)
    );

2. DROP: Used to delete database objects like tables, indexes, views, etc.
   DROP TABLE employees;

3. ALTER: Used to modify the structure of an existing database object.
   ALTER TABLE employees ADD COLUMN salary DECIMAL(10, 2);

4. TRUNCATE: Used to remove all data from a table but keep the table structure intact.
   TRUNCATE TABLE employees;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, and it is used to interact with the data stored in the database.
Examples of DML statements:
1. INSERT: Used to insert new records into a table.
   INSERT INTO employees (id, name, department, salary) VALUES (1, 'John Doe', 'IT', 50000);

2. UPDATE: Used to modify existing records in a table.
   UPDATE employees SET salary = 55000 WHERE id = 1;

3. DELETE: Used to remove specific records from a table.
   DELETE FROM employees WHERE id = 1;

# Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, and it is used to retrieve data from the database.
Example of a SELECT statement:
1. SELECT id, name, department, salary FROM employees WHERE department = 'IT';

# Q5. Explain Primary Key and Foreign Key.

1. Primary Key: A primary key is a column or a combination of columns that uniquely identifies each record (row) in a table. It ensures the uniqueness and integrity of the data in the table. Each table in a database can have only one primary key.
Example:
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    department VARCHAR(50)
);

2. Foreign Key: A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables and ensures referential integrity. It helps maintain consistency and prevents orphaned records.
Example:
CREATE TABLE departments (
    id INT PRIMARY KEY,
    name VARCHAR(50)
);

CREATE TABLE employees (
    emp_id INT PRIMARY KEY,
    name VARCHAR(50),
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments(id)
);

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
connection = mysql.connector.connect(
    host=" ",
    user=" ",
    password=" ",
    database=" "
)
cursor = connection.cursor()
sql_query = "SELECT * FROM employees;"
cursor.execute(sql_query)
result = cursor.fetchall()
for row in result:
    print(row)
cursor.close()
connection.close()

# Q7. Give the order of execution of SQL clauses in an SQL query.
The order of execution of SQL clauses in an SQL query is as follows:
1. FROM: Specifies the table or tables from which data is to be retrieved.
2. JOIN: Combines rows from two or more tables based on a related column between them.
3. WHERE: Filters the rows based on a condition.
4. GROUP BY: Groups the result set based on specified columns.
5. HAVING: Filters the groups based on a condition after using GROUP BY.
6. SELECT: Specifies the columns to be retrieved from the result set.
7. ORDER BY: Sorts the result set based on specified columns.
8. LIMIT/OFFSET: Limits the number of rows to be retrieved (optional).